body{
	margin-bottom: 0px;
	padding: 0px;
	background: url(xixi.jpg);
	background-size: cover;
	background-position: center;
	height: 80vh;
}
.Login-box{
	width: 320px;
	height: 420px;
	background: rgba(0,0,0,0.5);
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	box-sizing: border-box;
	padding: 70px;
	transform: translate(-50%, -50%);
}
.images{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}
h1{
	margin-top: 0px;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}
.Login-box p{
	margin-bottom: 0px;
	padding: 0px;
	font-weight: bold;
}
.Login-box input{
	width: 100%;
	margin-bottom: 20px;
}
.Login-box input[type="text"], input[type="password"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
.Login-box input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
	background: #1c8adb;
}
.Login-box input[type="submit"]:hover{
	cursor: pointer;
	background: #E33D56;
	color: #fff;
}
.Login-box a{
	text-decoration: none;
	font-size: 14px;
	color: #333;
}
.Login-box a:hover{
	color: #E33D56;
}